html {
  font: 107.5%/1.5 sans-serif;
}

@media screen {
  html {
    margin: auto;
    max-width: 45em;
    padding-inline: 3%;

    padding-top: 1rem;
    padding-bottom: 4rem;
  }

  article {
    margin: auto;
    max-width: 36em;
  }
}

footer {
  margin-top: 2rem;
}

nav.sequenceNav ol {
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 2ch;
}

.summary-directory p {
  margin-block: 0.5rem 1.5rem;
}

img {
  width: 100%;
  height: auto;
}
