html {
  font: 107.5%/1.5 sans-serif;
}

@media print {
  footer nav,
  .toc {
    /* Hide "first prev index next latest" for print. */
    display: none;
  }
}

@media screen {
  html {
    margin: auto;
    max-width: 45em;
    padding-inline: 3%;

    padding-top: 1rem;
    padding-bottom: 4rem;
  }

  article {
    margin: auto;
    max-width: 36em;
  }

  pre {
    overflow-x: auto;
  }
}

footer {
  margin-top: 2rem;
}

nav.sequenceNav ol {
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 2ch;
}

.summary-directory p {
  margin-block: 0.5rem 1.5rem;
}

img {
  width: 100%;
  height: auto;
}

pre {
  white-space: pre-wrap;
}

/* TODO light theme */
/* I want more control so that I can give red-on-hover. */
html {
  color: #191919;
  background-color: #F9F9F9;
}

a {
  color: #003eba;
}

a:visited {
  color: #7d0091;
}

a:visited:hover, a:hover,
a:visited:focus, a:focus,
.header-anchor:hover, .header-anchor:focus {
  color: #960000;
}

@media (prefers-color-scheme: dark) {
  html {
    color: #E9E9E9;
    background-color: #191919;
  }

  a {
    color: #91b6ff;
  }

  a:visited {
    color: #f091ff;
  }

  a:visited:hover, a:hover,
  a:visited:focus, a:focus,
  .header-anchor:hover, .header-anchor:focus {
    color: #ff9191;
  }
}

/* Anchor links should be more subtle than non-internal links. */
.header-anchor:not(:hover, :focus),
.header-anchor:visited:not(:hover, :focus) {
  text-decoration: none;
  color: inherit;
}

.header-anchor:hover, .header-anchor:focus {
  text-decoration: underline;
}

.header-anchor:hover::before, .header-anchor:focus::before {
  left: -1.5ex;
  position: relative;
  content: "#";
  width: 0;
  height: 0;
  float: left;
}
