<!DOCTYPE html>
<html lang="en-us">
<head>
  {% include "partials/global_nav.njk" %}
  <link rel="me" href="https://hachyderm.io/@quinten"/>
  <link rel="me" href="https://github.com/crystalsolenoid">
</head>
<body>
  <main>
    {{ content | safe }}
  </main>
</body>
</html>
