---
layout: layouts/main.njk
---
<article>
  <h1>{{ title }}</h1>

  {{ content | safe }}
</article>

{% set firstPost = collections.log | first %}
{% set previousPost = collections.log| getPreviousCollectionItem %}
{% set nextPost = collections.log | getNextCollectionItem %}
{% set latestPost = collections.log | last %}
<footer>
  <nav class="sequenceNav" aria-label="daily log entries">
    <ol>
      <li>
      {% if firstPost %}<a href="{{ firstPost.url }}">first</a>{% endif %}
      </li>
      <li>
      {% if previousPost %}<a href="{{ previousPost.url }}">previous</a>{% else %}no previous{% endif %}
      </li>
      <li><a href='..'>index</a></li>
      <li>
      {% if nextPost %}<a href="{{ nextPost.url }}">next</a>{% else %}no next{% endif %}
      </li>
      <li>
      {% if latestPost %}<a href="{{ latestPost.url }}">latest</a>{% endif %}
      </li>
    </ol>
  </nav>
</footer>
