---
layout: layouts/main.njk
---

<h1>{{ title }}</h1>

{{ content | safe }}

<footer>
  <nav>
    <ol>
      <li><a>First</a></li>
      <li><a>Previous</a></li>
      <li><a href='..'>Index</a></li>
      <li><a>Next</a></li>
      <li><a>Latest</a></li>
    </ol>
  </nav>
</footer>
