---
layout: layouts/main.njk
---
<article>
  <h1>{{ title }}</h1>

  {% if screenshots %}
    {% for img in screenshots %}
      {% image img.src, img.alt %}
    {% endfor %}
  {% endif %}

  {% if play %}
    <p>
      <a href=play/>play in the browser (under construction)</a>
    </p>
  {% endif %}

  {% if github %}
    <p>
      <a href={{ github }}>view github repository</a>
    </p>
  {% endif %}

  {% if started or status %}
    <p>
  {% if started %}
      Started on {{ started | fullDate }}.
  {% elif started_month and started_year %}
      Started in {{ started_month }}, {{ started_year }}.
  {% elif started_year %}
      Started in {{ started_year }}.
  {% endif %}
  {% if status %}
      {{ status }}
  {% endif %}
    </p>
  {% endif %}

  {{ content | safe }}

</article>
<footer>
<a href=..>Back</a>
</footer>
