html {
  font: 107.5%/1.5 sans-serif;
}

@media screen {
  html {
    margin: auto;
    max-width: 45em;
    padding: 0 3%;
  }

  article {
    margin: auto;
    max-width: 36em;
  }
}

footer {
  margin-top: 2rem;
}

nav.sequenceNav ol {
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 2ch;
}
